<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Hello, world!</title>
  </head>
  <body class="d-flex flex-column w-100 vh-100 align-items-center justify-content-center">
    {% for i in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{i.messages}}</strong> registeration succesfull
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
    
    <div class="w-50 d-flex flex-column shadow justify-content-center align-items-center p-5 mt-5">
        <h1 class="mb-5">USER REGISTER</h1>
    <form action="" method="post">

    
        {% csrf_token %}
        <div>
            <label for="" class="form-label">NAme</label>
            {{form.username}}
        </div>
        <div>
            <label for="" class="form-label">Email:  </label>
            {{form.email}}
        </div>
        <div>
            <label for="" class="form-label">PASSWORD</label>
            {{form.password}}
        </div>
        
        <!-- {{form}} -->
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
    </div>
    <a href="{% url 'u_login'%}" class="btn btn-primary"></a>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

    <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
  </body>
</html>
